<div id="logo">
            <div id="logo">
                <img src="img/logo2.png" alt="logo da empresa" >
        </div>
            
        </div>

        <div>
            <div id="social-media">  
                <a href="https://www.facebook.com/Rol%C3%AATop-106506047400870/?modal=admin_todo_tour"><img src="/img/facebook (1).png" alt="icone facebook" ></a>
                <a><img src="/img/instagram.png" alt="icone instagram"></a>
                <a href="https://api.whatsapp.com/send?1=pr_BR&phone=5511960657694"><img src="/img/whatsapp (1).png" alt="contato para o whatsapp"></a>
                <a href="login.html"><img src="/img/user.png" alt="icone para login"></a>
            </div>  
        </div>