<main>

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="img/background2.jpg">
        </div>

        <div class="mySlides fade">
            <img src="img/background3.jpg">
        </div>

        <div class="mySlides fade">
            <img src="img/background4.jpg">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


    <hgroup id="quem-somosh2">
        <h2>Quem Somos</h2>
        <br>
        <br>
    </hgroup>
    <div id="somos">
        <img src="img/evento.jpg">
        <div id="text">
            <p>
                <br>RoleTop é um espaço para eventos com localização na Santa Cecília que traz como característic
                <br>como característica um ambiente elegante e aconchegante para a realização dos mais exímios eventos,
                <br>sejam ele sociais (casamento, aniversário, festa de debutante, festas infantis, bodas, judaicos...)
                ou
                <br>corporativos (confraternização, coquetéis, palestras, jantares, conferências, lançamento de produtos
                <br>roletop é um espaço para eventos com localização na Santa Cecília que traz como característica
                <br>como característica um ambiente elegante e aconchegante para a realização dos mais exímios eventos,
                <br>sejam ele sociais (casamento, aniversário, festa de debutante, festas infantis, bodas, judaicos ou
                <br>corporativos (confraternização, coquetéis, palestras, jantares, conferências, lançamento de
                produtos...).
            </p>
        </div>
        <img src="img/equipe.jpg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="events">
        <div class="container">
            <img src="img/corporativo.png" alt="Snow" style="width:100%">
            <a href="login.html"><button class="btn">Faça Seu Role</button></a>
        </div>
        <div class="container">
            <img src="img/casamento.jpg" alt="Snow" style="width:100%">
            <a href="login.html"><button class="btn">Faça Seu Role</button></a>
        </div>
        <div class="container">
            <img src="img/show.jpg" alt="Snow" style="width:100%">
            <a href="login.html"><button class="btn">Faça Seu Role</button></a>
        </div>
    </div>

    <hgroup id="msg">
        <h2>Nos envie uma mensagem</h2>
    </hgroup>

    <form method="GET" action="index.html">

        <div class="double-field">
            <div>
                <label for="name">Nome Completo</label>
                <input type="text" placeholder="Fulano Ciclano">
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" placeholder="roletop@hotmail.com" required>
            </div>

            <div>
                <label for="telefone">Telefone</label>
                <input type="text" placeholder="(11) 91234-5678" pattern="[0-9]{2} [9]{1}[0-9]{4}-[0-9]{4}">
            </div>

        </div>
        <textarea cols="234" rows="10" placeholder="Deixe sua mensagem..." required></textarea>
        <br>
        <input type="submit" value="Enviar" />
    </form>


    <div id="local">
        <img src="img/planta-baixa.png" alt="planta baixa do local" title="Planta Baixa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.886996150563!2d-46.64847708502264!3d-23.53656648469521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda%20Bar%C3%A3o%20de%20Limeira%2C%20539%20-%20Campos%20El%C3%ADseos%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001202-001!5e0!3m2!1spt-BR!2sbr!4v1567701952771!5m2!1spt-BR!2sbr"
            width="1000" height="400" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>

</main>