    <main>
        <div class="total">
            <div class="esq">
                <h1>Show</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, accusantium deserunt.
                    <br>Facere eius maxime adipisci repellat aspernatur iusto eaque reprehenderit, modi, dolore, 
                    <br>aliquid cumque porro optio facilis provident exercitationem perspiciatis?
                    <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, accusantium deserunt.
                    <br>Facere eius maxime adipisci repellat aspernatur iusto eaque reprehenderit, modi, dolore, 
                    <br>aliquid cumque porro optio facilis provident exercitationem perspiciatis?
                </p>
                <a href="galeria.html"><button><span>Saiba Mais</span></button></a>
            </div>

            <div class="dir">
                <img  src="img/show-service.jpg">
            </div>
        </div>
    <br>
    <br>
    <br>
        <div class="total">
                <div class="dir">
                    <img  src="img/casamento-service.jpg">
                </div>
                <div class="esq">
                    <h1>Casamento</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, accusantium deserunt.
                        <br>Facere eius maxime adipisci repellat aspernatur iusto eaque reprehenderit, modi, dolore, 
                        <br>aliquid cumque porro optio facilis provident exercitationem perspiciatis?
                        <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, accusantium deserunt.
                        <br>Facere eius maxime adipisci repellat aspernatur iusto eaque reprehenderit, modi, dolore, 
                        <br>aliquid cumque porro optio facilis provident exercitationem perspiciatis?
                    </p>
                    <a href="galeria.html"><button><span>Saiba Mais</span></button></a>
                </div>
        </div>
    <br>
    <br>
    <br>

        <div class="total">
                <div class="esq">
                    <h1>Corporativo</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, accusantium deserunt.
                        <br>Facere eius maxime adipisci repellat aspernatur iusto eaque reprehenderit, modi, dolore, 
                        <br>aliquid cumque porro optio facilis provident exercitationem perspiciatis?
                        <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, accusantium deserunt.
                        <br>Facere eius maxime adipisci repellat aspernatur iusto eaque reprehenderit, modi, dolore, 
                        <br>aliquid cumque porro optio facilis provident exercitationem perspiciatis?
                    </p>
                    <a href="galeria.html"><button><span>Saiba Mais</span></button></a>
                </div>
    
                <div class="dir">
                    <img  src="img/corporativo-service.jpg">
                </div>
            </div>
    <br>
    <br>
    <br>
            <div class="total">
                    <div class="dir">
                        <img  src="img/aniversario-service.jpg">
                    </div>
                    <div class="esq">
                        <h1>Aniversário</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, accusantium deserunt.
                            <br>Facere eius maxime adipisci repellat aspernatur iusto eaque reprehenderit, modi, dolore, 
                            <br>aliquid cumque porro optio facilis provident exercitationem perspiciatis?
                            <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, accusantium deserunt.
                            <br>Facere eius maxime adipisci repellat aspernatur iusto eaque reprehenderit, modi, dolore, 
                            <br>aliquid cumque porro optio facilis provident exercitationem perspiciatis?
                        </p>
                        <a href="galeria.html"><button><span>Saiba Mais</span></button></a>
                    </div>
            </div>      
           <br>
            <div id="background">
                <section id="propaganda">
                    <h3>Realize o Role do ano!</h3>
                    <p>entre em contato e receba um orçamento personalizado</p>
                    
                    <button><span>Faça seu Role</span></button>
                </section>
            </div>
        </main>